.wishListProduct{
    position: relative;
    transition: all 250ms linear;
}
.like{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.wishListProduct:hover .like{
    transform: scale(1.1);
}
.wishList:active .like{
    transform: scale(0.90);
}

