.productDetail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 150px;
    padding-right: 150px;
    @media (max-width: 1350px) {
      padding-left: 100px;
      padding-right: 100px;
    };
    @media (max-width: 1100px) {
        padding-left: 60px;
        padding-right: 60px;
    };
    @media (max-width: 1000px) {
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(1, 1fr);
    }
  }
  .productDetailGallery{
    padding-right: 40px;
    height: fit-content;
    @media (max-width: 1000px) {
      padding-right: 0;
    }
  }
  .productDetailInfo{
    padding-left: 40px;
    @media (max-width: 1000px) {
      padding-left: 0;
    }
  }
  .productDetailInfoText{
    font-size: 20px;
    max-width: 80%;
  }
  
  .productDetailInfoHead{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .productDetailInfoTitle{
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  .productDetailBtnGroup{
    margin-top: 40px;
  }
  .productDetailBtn{
    width: 80%;
    height: 60px;
    display: block;
    margin-bottom: 10px;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .productDetailImg{
    width: 100%;
    height: 100%;
  }
  .productsDetailValuesList{
    
  }
  .radioInput{
    display: inline-block;
  }
  .productsDetailValuesListEl{
    width: fit-content;
    justify-content: center;
    margin-bottom: 5px;
    display: inline-block;
  }
  .lorem{
    margin-bottom: 20px;
  }
.sizeQty{
  border-left: 1px solid black;
  display: inline-block;
  padding-left: 5px;
}