.order{
    padding: 10px;
    background-color: rgb(204, 245, 245);
    border-radius: 10px;
    margin-bottom: 40px;
}
.orderTitle{
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 10px;
}
.orderContent{}

.orderText{
    font-size: 20px;

}

.orderProducts{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* max-height: 0px;
    overflow: hidden; */
    transition: all 300ms cubic-bezier();
}

.orderTextTitle{
    display: inline-block;
    font-weight:bold;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

